@page "/"
@using MisSeries.Web.Services;
@inject TraktApi TraktApi
@inject IStringLocalizer<Index> Loc

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<button @onclick="Test">@Loc["Test"]</button>
<span>Result:@result</span>
@code
{
    string result = "";
    void Test()
    {
        result = TraktApi.Prueba();
    }
}